@{
    ViewBag.Title = "О предприятии";
}
<h2>@ViewBag.Title.</h2>

<p>Трамвай в Краснотурьинске был запущен 15 января 1954. Современный вид система приобрела в 1959 году и до 2011 года в ней ничего не менялось. 
    Трамвай города был построен и эксплуатировался Богословским Алюминиевым Заводом. В 1999 году трамвайная сеть была муниципализирована, и передана в ведение городского энергохозяйства. 
    Длина используемого пути 3,5 км. Вся трамвайная сеть города — однопутная, с двумя разъездами.</p>
